image: "asciidoctor/docker-asciidoctor"

stages:
  - documentation

variables:
  FOOBAR: quux

.vars:
  variables:
    URL: "http://my-url.internal"
    IMPORTANT_VAR: "the details"

.setup:
  script:
    - echo creating environment

html:
  variables:
    MY_VAR: !reference [.vars, variables, IMPORTANT_VAR]
    MY_VAULT_VAR: !vault |
          $ANSIBLE_VAULT;1.2;AES256;dev
          61323931353866666336306139373937316366366138656131323863373866376666353364373761
          3539633234313836346435323766306164626134376564330a373530313635343535343133316133
          36643666306434616266376434363239346433643238336464643566386135356334303736353136
          6565633133366366360a326566323363363936613664616364623437336130623133343530333739
          3039
  stage: documentation
  script:
    - cd doc
    - make
    -
      -
        - make html
        - echo "$PWD"
      -
        - echo "scripts may be in nested arrays"
        - echo "rarely used, but visible with !reference tags"
    # shellcheck will check lower case variables,
    # but ignores all upper case variables
    - echo "$FOOBAR"
    - echo $FOO
    - !reference [.setup, script]
  artifacts:
    name: "${CI_PROJECT_NAME}-${CI_JOB_NAME}-${CI_COMMIT_SHA}"
    paths:
      - doc/*.html
      - doc/assets/

pdf:
  stage: documentation
  script: cd doc; make pdf
  artifacts:
    name: "${CI_PROJECT_NAME}-${CI_JOB_NAME}-${CI_COMMIT_SHA}"
    paths:
      - doc/*.pdf

epub:
  stage: documentation
  script:
    - cd doc; asciidoctor-epub3 --out-file documentation.epub epub_index.adoc
  artifacts:
    paths:
     - doc/documentation.epub
